<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fer">

  <xacro:arg name="arm_id" default="fer"/>
  <xacro:arg name="hand" default="false"/> <!-- Should a franka_gripper be mounted at the flange? (Currently does not work without it) -->

  <xacro:property name="arm_id" value="$(arg arm_id)"/>

  <xacro:include filename="$(find servo_fer_moveit_config)/srdf/fer_arm.xacro"/>
  <xacro:fer_arm arm_id="${arm_id}"/>
</robot>
